a {
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}

/* ------header-section--------- */
.top-header {
    background-color: #033F65;
}

.top-header p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 5px 0;
    text-align: center;
}

.header-section {
    background: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #333 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 500 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-btn {
    width: 170px;
    height: 37px;
    line-height: 37px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #569109;
    border-radius: 3px;
    text-align: center;
}

.nav-btn:hover {
    color: white;
}

/* ------------hero-section--------- */
.hero-section {
    float: left;
    width: 100%;
    background: url(./images/sec1.jpg) center top no-repeat;
    padding-bottom: 20px;
    background-size: cover;
}

.s1-lft {
    float: left;
    width: 57.28%;
    text-align: left;
    padding-top: 70px;
}

.s1-lft h2 {
    color: #b52025;
    font-size: 57px;
    line-height: 57px;
    font-weight: 800;
    float: left;
    width: 100%;
    position: relative;
    /* 	padding-bottom:15px;*/
    margin-bottom: 15px;
}

.s1-lft p {
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    float: left;
    margin-bottom: 20px;
    background: url(./images/s1-tx-bg.png) center center no-repeat;
    background-size: contain;
    padding: 15px 70px 15px 20px;
}

ul.s1-list {
    float: left;
    width: 100%;
}

ul.s1-list li {
    font-size: 22px;
    line-height: 26px;
    color: #2b2b2b;
    font-weight: 600;
    background: url(./images/tick.svg) left 3px no-repeat;
    float: left;
    width: 100%;
    background-size: 20px;
    padding-left: 28px;
    margin: 6px 0;
}

.s1-frm-rgt {
    float: right;
    width: 350px;
    margin-top: 55px;
}

.s1-frm-bg {
    float: left;
    width: 100%;
    background: #1184cd;
}

.frm-hd {
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 1;
    padding: 15px 0 10px;
    text-align: center;
}

.frm-hd:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    background: url(./images/s1-frm-icn.png) center top no-repeat;
    z-index: -1;
}

.frm-hd:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 8px;
    bottom: -8px;
    background: url(./images/s1-frm-hd.png) center top no-repeat;
}

.frm-hd p {
    padding: 0;
    margin: 0;
}

.frm-hd p:last-child {
    font-weight: 700;
}

.frm-inr {
    float: left;
    width: 100%;
    background: #033f65;
    padding: 15px;
}

.frm-inr input[type="text"] {
    width: 100%;
    float: left;
    padding: 10px 15px;
    border: 1px solid #1184cd;
    border-radius: 3px;
    margin: 5px 0;
    font-family: 'Metropolis';
    color: #000;
    font-size: 18px;
}

.frm-inr input[type="text"]::placeholder {
    font-size: 18px;
    color: #646464;
}

.frm-btn {
    background: #63a70a;
    /* Old browsers */
    background: linear-gradient(to bottom, #63a70a 0%, #558f08 100%);
    float: left;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
}

ul.frm-list {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

ul.frm-list li {
    display: inline-block;
    background-size: 13px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    margin: 0 5px;
    letter-spacing: 1px;
}

ul.frm-list li img,
ul.frm-list li svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
}

/* <!-- ------------we-work-with-------------- --> */
.strip {
    float: left;
    width: 100%;
    padding: 20px 0;
    background: #e9e9e9;
}

.strip p {
    font-size: 22px;
    line-height: 26px;
    font-weight: #343434;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.strip p:before,
.strip p:after {
    content: '';
    width: 43px;
    height: 1px;
    background: #343434;
    position: absolute;
    top: 12px;
}

.strip p:before {
    left: -63px;
}

.strip p:after {
    right: -63px;
}

.strip img {
    display: block;
    margin: 5px auto 0;
}

.sec2 {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.comn-hdg {
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    color: #343434;
    background: url(./images/comn-hd-img.png) center bottom no-repeat;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.comn-hdg p {
    font-weight: 700;
    color: #04619c;
}

.sec2 .comn-hdg,
.sec2 .comn-hdg p {
    color: #ff0009;
}

.comn-txt {
    font-size: 18px;
    line-height: 28px;
    color: #2b2b2b;
    margin-bottom: 15px;
    padding: 0 100px;
}

.s2-inr {
    width: 100%;
    float: left;
    padding: 0 100px;
}

.s2-inr-bx {
    float: left;
    width: 30.3%;
    margin: 0 1.5%;
    border: 1px solid #d0d0d0;
    padding: 20px;
    color: #2b2b2b;
    border-radius: 10px;
    font-size: 18px;
    line-height: 26px;
}

.s2-tx1 {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Aleo';
    color: #ff0009;
    margin-bottom: 10px;
}

.s2-tx2 {
    font-size: 22px;
    line-height: 24px;
    color: #343434;
    font-weight: 700;
    padding-bottom: 8px;
    position: relative;
    margin-bottom: 10px;
}

.s2-tx2:after {
    content: '';
    width: 57px;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 50%;
    margin-left: -28.5px;
    bottom: 0;
}

.sec3 {
    float: left;
    width: 100%;
    padding: 50px 0;
    background: #f5f5f5;
}

.s3-img {
    margin: 15px auto 5px;
}

ul.s3-list {
    width: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: center;
}

ul.s3-list li {
    width: 25%;
    vertical-align: top;
    padding: 0 8px;
    font-size: 22px;
    line-height: 26px;
    position: relative;
    margin: 5px 0 35px;
}

ul.s3-list li:after {
    content: '';
    background: url(./images/s3-sepr.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 88px;
}

ul.s3-list li img {
    display: block;
    margin: 0 auto 10px;
}

ul.s3-list li:last-child:after {
    display: none;
}

.btn-bx {
    display: inline-block;
    max-width: 350px;
}

.comn-btn {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#63a70a+0,558f08+100 */
    background: #63a70a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #63a70a 0%, #558f08 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #63a70a 0%, #558f08 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #63a70a 0%, #558f08 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a70a', endColorstr='#558f08', GradientType=0);
    /* IE6-9 */
    float: left;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 15px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0;
}

ul.btn-list {
    float: left;
    width: 100%;
}

ul.btn-list li {
    display: inline-block;
    /*	background:url(../images/cancel.svg) left 2px no-repeat;
*/
    background-size: 13px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #272727;
    /*	padding-left:20px;*/
    margin: 0 5px;
}

ul.btn-list li img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
}

.sec4 {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.s4-stp {
    max-width: 100%;
    margin: 10px 0 5px;
}

ul.s4-list {
    float: left;
    width: 100%;
    padding: 0 50px;
}

ul.s4-list li {
    width: 31.3%;
    float: left;
    margin: 0 1%;
}

ul.s4-list li:first-child .s4-lst-tx1 {
    text-align: left;
    padding-left: 58px
}

ul.s4-list li:last-child .s4-lst-tx1 {
    text-align: right;
    padding-right: 70px;
}

.s4-list-bx {
    float: left;
    width: 100%;
    background: #154f90;
    padding: 20px;
    text-align: left;
    color: #fff;
    border: 3px solid #e7e7e7;
    border-radius: 5px;
    position: relative;
}

.s4-list-bx:after {
    content: '';
    background: url(../images/s4-bx-img.png) no-repeat;
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 31px;
    height: 13px;
}

.s4-lst-tx1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #343434;
    margin: 0 0 25px;
}

.s4-lst-tx2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    padding-left: 60px;
    margin-bottom: 15px;
}

.s4-lst-tx2 img {
    position: absolute;
    left: 0;
    top: 0;
}

.s4-lst-tx3 {
    font-size: 18px;
    line-height: 22px;
    border-left: 2px solid #6dcff6;
    padding-left: 40px;
    margin-left: 20px;
}

.sec5 {
    float: left;
    width: 100%;
    background: #f5f5f5;
    padding: 50px 0;
}

ul.s5-list {
    float: left;
    width: 100%;
    padding: 0 100px;
    margin-bottom: 15px;
}

ul.s5-list li {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    margin: 15px 0;
}

ul.s5-list li img {
    border: 1px solid #8ca7c5;
    border-radius: 5px;
    padding: 18px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

ul.s5-list li p {
    font-size: 18px;
    line-height: 24px;
    color: #2b2b2b;
    font-weight: 500;
    margin-top: 5px;
}

.sec6 {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.s6-img {
    max-width: 100%;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}

.s6-bx {
    float: left;
    width: 100%;
    color: #343434;
    padding: 0 70px;
}

.star-img {
    display: block;
    margin: 0 auto 12px;
}

.s6-tx1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}

.s6-tx2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
}

.s6-tx3 {
    color: #154f90;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.sec7 {
    float: left;
    width: 100%;
    background: #f5f5f5;
}

.s7-inr {
    display: inline-block;
    max-width: 610px;
    width: 100%;
}

.s7-tx {
    font-size: 16px;
    line-height: 20px;
    color: #343434;
    padding: 0 25px 10px;
}

.s7-tx img {
    display: block;
    margin: 0 auto 5px;
}

.s7-tx span {
    font-weight: 700;
}

.s7-frm-bg {
    float: left;
    width: 100%;
    border: 1px solid #154f90;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}

.s7-frm-hd {
    float: left;
    width: 100%;
    background: #154f90;
    padding: 15px;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.s7-frm-hd:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -22px;
    bottom: -8px;
    width: 44px;
    height: 8px;
    background: url(./images/s7-frm-img.jpg) no-repeat;
}

.s7-frm-hd span {
    font-weight: 700;
}

.s7-frm-inr {
    float: left;
    width: 100%;
    padding: 30px 20px 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.s7-frm-inr input[type="text"] {
    border: 1px solid #9b9b9b;
    outline: none;
    padding: 15px;
    width: 48%;
    border-radius: 3px;
    font-family: 'Metropolis';
    font-size: 18px;
    color: #000;
    margin: 5px 0;
}

.s7-frm-inr input[type="text"]::placeholder {
    font-size: 18px;
    color: #646464;
}

.s7-frm-bg .frm-btn {
    max-width: 350px;
    float: none;
    margin-top: 20px;
}

.s7-frm-bg ul.frm-list li {
    color: #272727;
}

.footer {
    float: left;
    width: 100%;
    padding: 25px 0;
}

.footer p.ftr-txt,
.footer p.ftr-txt a {
    font-size: 18px;
    line-height: 22px;
    color: #343434;
}

.footer p.ftr-txt {
    margin: 5px 0;
}




/*.mobile{*/
/*    color: white;*/
/*}*/




































@media only screen and (max-width:1180px) {

    /*    .mobile{*/
    /*    color: white;*/
    /*}*/
    .container {
        width: 1000px;
    }

    .s1-lft h2 {
        font-size: 48px;
        line-height: 54px;
    }

    .s2-inr {
        padding: 0;
    }

    .comn-txt {
        padding: 0;
    }

    ul.s3-list {
        padding: 0;
    }

    .s4-stp {
        width: 930px;
    }

    ul.s4-list {
        padding: 0;
    }

    .s4-list-bx {
        padding: 15px 8px;
    }

    ul.s5-list {
        padding: 0;
    }
}


@media only screen and (max-width:1010px) {

    .container {
        width: 750px;
    }

    .show-mob {
        display: none;
    }

    .show-desk {
        display: none;
    }

    .show-tab {
        display: block;
    }


    .top-fix-bar {
        margin-bottom: 59px;
    }

    .menu-bar {
        padding: 5px 0;
        margin-top: -59px;
        top: 59px;
    }

    .mob-mnu-ic {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 15px;
        z-index: 16;
        height: 30px;
    }

    .mob-mnu-ic button {
        outline: none;
        -webkit-appearance: none;
        background: none;
        padding: 0;
        cursor: pointer;
        border: none;
    }

    .mob-mnu-ic span {
        color: #fff;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-weight: 300;
        margin-top: 4px;
        margin-right: 5px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 4px;
        background-color: #3a3a3c;
        transition: 0.4s;
        -webkit-border-radius: 2px 2px 2px 2px;
        border-radius: 2px 2px 2px 2px;
    }

    .bar2 {
        margin: 6px 0;
    }

    .dl-active .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 6px);
        transform: rotate(-45deg) translate(-7px, 6px);
        background: #3a3a3c;
    }

    .dl-active .bar2 {
        opacity: 0;
    }

    .dl-active .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -7px);
        transform: rotate(45deg) translate(-8px, -7px);
        background: #3a3a3c;
    }

    .mobilemenu {
        left: 0;
        position: fixed;
        top: 91px;
        background: rgba(255, 255, 255, 1);
        z-index: 10;
        right: 0;
        bottom: 0;
        overflow: scroll;
        display: none;
    }

    .mobilemenu li {
        float: left;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #CCC;
    }

    .mobilemenu li a {
        float: left;
        width: 100%;
        padding: 17px 20px;
        font-size: 18px;
        color: #000;
    }

    .mobimenu-top {
        top: 59px;
    }

    .sec1 {
        background-size: cover;
        height: auto;
        padding: 20px 0;
    }

    .s1-lft {
        padding-top: 30px;
    }

    .s1-lft p {
        font-size: 18px;
        line-height: 22px;
        padding: 8px 28px 8px 20px;
    }

    .s1-lft p br {
        display: none;
    }

    .s1-lft h2 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    /*ul.s1-list li{font-size:18px; line-height:22px;}*/
    .s1-frm-rgt {
        width: 310px;
        margin-top: 20px;
    }

    .frm-hd {
        font-size: 24px;
        line-height: 28px;
    }

    .frm-inr input[type="text"] {
        padding: 8px 15px;
        margin: 3px 0;
    }

    .frm-btn {
        padding: 10px;
    }

    /*ul.frm-list li{font-size:12px;}*/

    .s2-inr-bx {
        padding: 18px;
    }

    ul.s3-list li {
        font-size: 16px;
        line-height: 22px;
    }

    .s4-stp {
        max-width: 650px;
    }

    .s4-lst-tx2 {
        font-size: 20px;
        line-height: 24px;
        padding-left: 55px;
    }

    .s4-lst-tx3 {
        padding-left: 35px;
        min-height: 110px;
    }
}

@media only screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 10px;
        max-width: 600px;
        box-sizing: border-box;
    }

    .show-tab {
        display: none;
    }

    .show-desk {
        display: none;
    }

    .show-mob {
        display: block;
    }


    .logo {
        width: 200px;
    }

    .mob-mnu-ic {
        top: 7px;
    }

    .top-strip p {
        font-size: 16px;
        line-height: 20px;
    }

    .top-fix-bar {
        margin-bottom: 50px;
    }

    .menu-bar {
        margin-top: -50px;
        top: 50px;
    }

    .mobilemenu {
        top: 50px;
    }

    .sec1 {
        background: #f2ede7;
        padding-top: 12px;
    }

    .sec1 .container {
        padding: 0;
    }

    .s1-lft {
        width: 100%;
        text-align: center;
        padding-top: 0;
    }

    .s1-lft h2 {
        font-size: 25px;
        line-height: 36px;
    }

    .s1-lft p {
        background: #033f65;
        font-size: 15px;
    }

    ul.s1-list {
        padding: 0 10px;
    }

    ul.s1-list li {
        font-size: 18px;
        line-height: 22px;
        margin: 4px 0;
        text-align: left;
    }

    .s1-frm-rgt {
        width: 100%;
        padding: 0 10px;
        margin-top: 40px;
    }

    .comn-hdg {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .strip img {
        max-width: 100%;
    }

    .sec2 {
        padding: 25px 0;
    }

    .s2-inr-bx {
        width: 100%;
        margin: 10px 0;
    }

    .sec3 {
        padding: 25px 0;
    }

    .s3-img {
        max-width: 100%;
    }

    ul.s3-list li {
        width: 48%;
        margin: 10px 0;
    }

    ul.s3-list li:nth-child(even) {
        float: right;
    }

    ul.s3-list li:nth-child(2):after {
        display: none;
    }

    .sec4 {
        padding: 25px 0;
    }

    .s4-stp {
        display: none;
    }

    ul.s4-list li {
        width: 100%;
        margin: 15px 0;
    }

    .s4-list-bx {
        max-width: 300px;
        float: none;
        margin: 0 auto;
        padding: 25px;
    }

    .s4-lst-tx1 {
        text-align: center !important;
        padding: 0 !important;
        margin-bottom: 8px;
    }

    .s4-mb {
        margin: 0 auto 5px;
    }

    .s4-lst-tx3 {
        min-height: auto;
    }

    .sec5 {
        padding: 25px 0;
    }

    ul.s5-list {
        margin-bottom: 0;
    }

    ul.s5-list li {
        width: 32%;
        margin: 12px 0;
    }

    ul.s5-list li p {
        font-size: 16px;
        line-height: 20px;
    }

    .sec6 {
        padding: 25px 0;
    }

    .s6-bx {
        padding: 0 30px;
    }

    .sec7 {
        padding: 25px 0;
    }

    .s7-inr {
        margin-top: 10px;
    }

    .s7-tx {
        width: 100%;
        margin-bottom: 5px;
    }

    .s7-frm-bg {
        border: 1px solid #1184cd;
        margin-top: 10px;
    }

    .s7-frm-hd {
        background: #1184cd;
    }

    .s7-frm-hd:after {
        background: url(../images/s1-frm-hd.png) no-repeat;
    }

    .s7-frm-inr {
        background: #033f65;
    }

    .s7-frm-bg ul.frm-list li {
        color: #fff;
    }

    .s7-frm-inr input[type="text"] {
        width: 100%;
    }

    .footer {
        padding: 10px 0;
    }

    .footer p.ftr-txt,
    .footer p.ftr-txt a {
        font-size: 16px;
        line-height: 20px;
    }

    .white svg path {
        fill: #fff;
    }

    .mobile {
        color: white;
    }
}

/* <!-- --------------footer-start--------------- --> */
footer {
    background-color: #252628;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-content p {
    color: #bbbbbb;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 32px 0px;
}

.footer-img img {
    width: 70%;
}

footer h4 {
    color: white;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-icon .fa-angle-right {
    color: #bbbbbb;
    font-size: 15px;
    margin-right: 12px;
    line-height: 35px;
}

.footer-icon a {
    color: #bbbbbb;
    font-size: 15px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-icon:hover a {
    color: white;
}

.footer-icon:hover .fa-angle-right {
    color: white;
}

.footer-icon-top .fab {
    color: white;
    border-radius: 5px;
}

.footer-icon-top .fa-twitter {
    background-color: #0e97d1;
    padding: 10px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-twitter:hover {
    background-color: #108BC0;
}

.footer-icon-top .fa-facebook-f {
    background-color: #1b4195;
    padding: 10px 13px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-facebook-f:hover {
    background-color: #1C3E8A;
}

.footer-icon-top .fa-linkedin-in {
    background-color: #0f72aa;
    padding: 10px 12px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-linkedin-in:hover {
    background-color: #116A9D;
}

.footer-icon-top .fa-instagram {
    background-color: #b41a32;
    padding: 10px 12px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-instagram:hover {
    background-color: #A51B31;
}

/* ---------footer-info---------- */
.footer-info a {
    color: white;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    ;
    font-weight: 700;
}

.footer-info h6 {
    color: white;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    ;
    font-weight: 700;
}

.footer-info p {
    color: white;
    opacity: 0.6;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-info-icon {
    color: white;
    background: rgba(255, 255, 255, 0.132);
    padding: 15px;
    border-radius: 50px;
}

.footer-info {
    background-color: black;
    margin-top: 5%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-info-one {
    padding-top: 30px;
}

.footer-info-two {
    padding-top: 30px;
}

.footer-info-three {
    padding-top: 30px;
}

.term {
    color: #aaaaaa;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 2.5%;
}

@media screen and (max-width:991px) {
    .s1-lft {
        width: 55.28%;
    }
}

@media only screen and (max-width: 767px) {
    .sec7 {
        padding: 0 !important;
    }
}

/* -------------testimonials-start----------- */
.testimonial {
    background-color: #f5f5f5;
    background-image: url(../assets/home/home1-bg3.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 100px 30px 70px 30px;
}

.slider-item {
    background-color: #ffffff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 8%);
    padding: 39px 45px 57px;
    margin-bottom: 42px;
    position: relative;
}

.slider-item::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -20px;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.testimonial-icon {
    display: block !important;
    width: 51px !important;
    height: 51px !important;
    margin: 0 auto !important;
    padding: 4px !important;
    border-radius: 100% !important;
    margin-bottom: 15px !important;
    position: relative !important;
}

.testimonial-icon-one {
    border: 1px dashed #D83030 !important;
}

.testimonial-icon-two {
    border: 1px dashed #F3A712 !important;
}

.testimonial-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    display: block;
    width: 50px;
    height: 2px;
    background: rgba(0, 0, 0, .1);
    margin-left: -80px;
}

.testimonial-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: block;
    width: 50px;
    height: 2px;
    background: rgba(0, 0, 0, .1);
    margin-right: -80px;
    left: auto;
    right: 0;
}

.testi-icon-common {
    color: #ffffff !important;
    width: 41px !important;
    height: 41px !important;
    line-height: 41px !important;
    display: block !important;
    border-radius: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
}

.testi-icon-one {
    background: #D83030 !important;
}

.testi-icon-two {
    background: #F3A712 !important;
}

.testimonial-comment {
    color: #676767;
    font-weight: 17px;
    line-height: 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.testimonial-face {
    width: 75px !important;
}

.testimonial-name-section h6 {
    color: #032e42;
    font-size: 18px;
    margin: 12px 0px -2px 0px;
    font-family: 'Roboto', sans-serif;
}

.testimonial-name-section p {
    color: #676767;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    display: none;
}